---
layout: default
---
<article class="post">

  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

  <div class="post-content" itemprop="articleBody">
    <div>
      <span>By </span>
      {% assign authorCount = page.authors | size %}
      {% if authorCount == 0 %}
          {% include add_name.html name='default' %}
      {% else %}
          {% for name in page.authors %}
              {% if forloop.first %}
                  {% include add_name.html name=name %}
              {% elsif forloop.last %}
                  and {% include add_name.html name=name %}
              {% else %}
                  , {% include add_name.html name=name %}
              {% endif %}
          {% endfor %}
      {% endif %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Learn-blog -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4028387359948673"
     data-ad-slot="2502219747"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
    {{ content }}
  </div>
  
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Learn-blog -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4028387359948673"
     data-ad-slot="2502219747"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</article>
